body {
    background-image: url("https://images3.alphacoders.com/704/thumb-1920-704591.jpg");
    ; 
  }
  
  #end-page {
    display: none;
  }
  
  #main-logo {
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100% \9;
  }
  
  h1 {
    margin-bottom: 20px;
     color: white; 
     font-weight: bold ; 
     text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
     

  }
  h2 {
      font-weight: bold ; 
      color: yellow ; 
      color: rgba(0,0,0,0.6);
        text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
  }
p {
    font-weight: bold; 
    
}
 
  label {
    font-size: 16px;
    color: white ;
  }
 
#start-page {
    background-color: whitesmoke; 
    opacity: 0.7; 
    border-radius: 50px ; 
    text-align: center; 
  



}
  
  #end-page p {
    font-size: 22px;
    text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5;
  }
    
    /* font-weight: 700; */
  }
  
  #correct-answers {
    margin-top: 32px;
  }
  
  #question {
    margin-top: 32px;
    font-size: 24px;
    font-weight: 500;
    color: white ; 
    text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5;
  }
  
  
  footer {
    height: 30px;
    margin-top: 30px;
    color: 	#C0C0C0  ;  
    text-shadow: 2px 2px 2px rgba(206,89,55,0); 
  }
  
  #copyright-small {
    font-size: 12px;
  }
  
  #timer {
    margin-top: 20px;
  }
  
  #done-button {
    margin-top: 20px;
  }